<br></br>
<br></br>

<html>
  <body>
  
  <form action= <%= gossips_path %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
  <input type="text" name="content">
  <input type="text" name="title">
  <input type="submit" value="Valider">
  </form>
    
  </body>
</html>